{% extends "base_styled.html" %}
{% load crispy_forms_filters %}

{% block path %}
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div class="mb-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb me-auto">
          <li class="breadcrumb-item"><a href="{% url 'optional-courses:index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'optional-courses:course-list' %}">Courses</a></li>
          {% if object %}
            <li class="breadcrumb-item"><a href="{% url 'optional-courses:course-detail' pk=course.id %}">{{ course }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Update</li>
          {% else %}
            <li class="breadcrumb-item active" aria-current="page">Create</li>
          {% endif %}
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}


{% block content %}
<section>
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
        <h3 class="text-center">
          {% if object %}
            Update course
          {% else %}
            Create course
          {% endif %}
        </h3>
        <form role="form" id="contact-form" method="post" autocomplete="off">
          <div class="card-body">
            <div class="row">
              <div class="input-group input-group-dynamic" style="display: block;">
                {% csrf_token %}
                <ul style="list-style-type: none">
                  {% for field in form %}
                    <li style="margin-bottom: 30px">
                      {{ field|as_crispy_field }}
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-md-4 mt-lg-3 mx-auto">
                <button type="submit" class="btn bg-gradient-primary w-100">
                  {% if object %}
                    Update
                  {% else %}
                    Create
                  {% endif %}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
