{% extends "base.html" %}

{% block content %}

  <h1>
    {{ course.title }}

    <a href="{% url 'optional-courses:course-update' pk=course.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  {% if course in user.courses.all %}
    <a href="{% url 'optional-courses:toggle-course-assignment' pk=course.id %}" class="btn btn-danger link-to-page">
      Remove me from this course
    </a>
  {% else %}
    <a href="{% url 'optional-courses:toggle-course-assignment' pk=course.id %}" class="btn btn-success link-to-page">
      Assign me to this course
    </a>
  {% endif %}

  <p>
    Field{{ course.fields.all|pluralize }}: {{ field }} {% for field in course.fields.all %}{{ field }}{% if not forloop.last %}, {% endif %}{% endfor %}
  </p>

  <p>
    {% if course.students.all %}
      Students taking the course:
      <ul>
        {% for student in course.students.all %}
          <li>{{ student }}</li>
        {% endfor %}
      </ul>
    {% else %}
      Be the first to start taking the course!
    {% endif %}
  </p>

{% endblock %}
