{% extends "base_styled.html" %}

{% block path %}
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <div class="mb-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'optional-courses:index' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'optional-courses:field-list' %}">Fields of study</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ field }}</li>
        </ol>
      </nav>
    </div>
  </div>
{% endblock %}


{% block content %}
<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-10 ms-auto me-auto text-center">
        <h3 class="mt-4">{{ field.name }}</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4 ms-auto my-auto">
        <div class="cursor-pointer">
          <div class="card card-background">
            <div class="full-background" style="background-image: url('/static/img/field_detail.jpeg')"></div>
            <div class="card-body pt-7 text-center">
              <h4 class="text-white mb-5">See all fields of study</h4>
              <button type="button" class="btn btn-white btn-sm mt-3"><a href="{% url 'optional-courses:field-list' %}">Take a look</a></button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 me-auto my-auto ms-md-5">
        <div class="p-3 info-horizontal d-flex">
          <div>
            <h5>Courses of the field:</h5>
              {% for course in field.courses.all %}
                <li class="pb-3">
                  <a href="{% url 'optional-courses:course-detail' pk=course.id %}">{{ course }}</a> ({{ course.students.count }} student{{ course.students.count|pluralize:" is,s are" }} assigned)
                </li>
              {% endfor %}
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock %}
