{% extends "base.html" %}

{% block content %}

  <h1>
    {{ student.first_name }} {{ student.last_name }}

    <a href="{% url 'optional-courses:student-update' pk=student.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>

    <a href="{% url 'optional-courses:student-delete' pk=student.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <p>
    <strong>Username:</strong> {{ student.username }}<br>

    {% if student.group %}
    <strong>Group:</strong> {{ student.group }}
    {% endif %}
  </p>

  {% if student.courses.all %}
    {{ student.first_name }} is taking the following courses:
    <ul>
      {% for course in student.courses.all %}
        <li><a href="{{ course.get_absolute_url }}">{{ course }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
